<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Qwitter</title>
</head>
<body>
    <section class="hero is-small is-success mb-4">
        <div class="hero-body">
            <h1 class="title is-1">Qwitter</h1>
            <p class="subtitle is-4">
                Exit light enter Django <br>
            </p>
        <a href="{% url 'main_app:login' %}">
        <button class="button is-warning " type="submit"
                name="login"
                value="login">
            Login to Comment
        </button>
        </a>
        </div>
    </section>

    <div class="column">
        <h1 class= "is-size-4 has-text"> At the moment the Topic is : </h1>
    <h2 class= "is-size-5 has-text">" What would be your weapon of choice in a zombie apocalypse? "<br></h2>
            {% for comment in comments %}
                <div class="box">
                    {{comment.body}}
                    <span class="is-small has-text-grey-light">
                        ({{ comment.created_at }} by {{ comment.user.username }}
                    </span>
                </div>
            {% endfor %}
    </div>

    
</body>
</html>