{% extends 'base.html' %}

{% block content %}
<style>
    body{
        background: rgb(250, 250, 250);
background: radial-gradient(circle, rgb(236, 236, 238) 0%, rgb(243, 243, 246) 0%, rgba(0,212,255,1) 100%);

}
</style>

<div class="column">
    <h1 class= "is-size-4 has-text-weight-semibold"> At the moment the topic is : </h1>
    <h2 class= "is-size-5 has-text-weight-semibold">" What would be your weapon of choice in a zombie apocalypse? "</h2><br>

    {% for followed in user.profile.follows.all %}
        {% for comment in followed.user.comments.all %}
            <div class="box">
                {{comment.body}}
                <span class="is-small has-text-grey-light">
                    ({{ comment.created_at }} by {{ comment.user.username }}
                </span>
            </div>
        {% endfor %}
    {% endfor %}
</div>

<div class="column is-one-third">

    <div class="block">
        <a href="{% url 'main_app:profile_list' %} ">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
    </div>

    <div class="block">
        <a href="{% url 'main_app:profile' request.user.profile.id %} ">
            <button class="button is-dark is-outlined is-fullwidth">
                My Profile
            </button>
        </a>
    </div>

    <div class="block">
        <a href="{% url 'main_app:donate' %} ">
            <button class="button is-info is-outlined is-fullwidth">
                Support Us
            </button>
        </a>
    </div>

    <div class="block">
        <div class="block">
            <h2 class="title is-2">Add a Comment</p>
        </div>
        <div class="block">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-success is-fullwidth is-medium mt-5"
                        type="submit">Comment
                </button>
            </form>
        </div>
    </div>

</div>

{% endblock content %}