<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Qwitter</title>
</head>
<body>
    <style>
        body{
            background: rgb(250, 250, 250);
    background: radial-gradient(circle, rgb(236, 236, 238) 0%, rgb(243, 243, 246) 0%, rgba(0,212,255,1) 100%);
    
    }
    </style>
    <section class="hero is-small is-success mb-4">
        <div class="hero-body">
            <h1 class="title is-1">Qwitter</h1>
            <p class="subtitle is-4">
                Exit light enter Django... <br>
            </p>
        <a href="{% url 'main_app:login' %}">
        <button class="button is-warning " type="submit"
                name="login"
                value="login">
            Login to Comment
        </button>
        </a>
    </div>
</section>

<div class="container">
<div class="columns">
    <div class="column is-one-third">
<h1 class= "is-size-3 has-text">Thank you for donating us!</h1><br>

<h2 class= "is-size-4 has-text">The wise quote of the day is :</h2><br>
<h3 class="is-size-5 has-text-weight-semibold"> {{object}}</h3><br>
    <p class= "is-size-6 has-text">- Elon Musk</p>
<h1 class= "is-size-3 has-text"><br>
    Donation cost : {{price}}$
</h1><br>
  <!-- Set up a container element for the button -->
  <div id="paypal-button-container" style="max-width: 300px;"></div>

  <!-- Include the PayPal JavaScript SDK -->
  <script src="https://www.paypal.com/sdk/js?client-id=AblrRu-SEASyy9y7dMCcVm4MuVSDUzwl3jLh-sWUFe_myrIeYKGEqSnosFHEtMrwNb4XYDPZqPr4JrKh&currency=USD"></script>

  <script>
      // Render the PayPal button into #paypal-button-container
      paypal.Buttons({

          // Set up the transaction
          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{
                      amount: {
                          value:  '{{price}}'
                      }
                  }]
              });
          },

          // Finalize the transaction
          onApprove: function(data, actions) {
              return actions.order.capture().then(function(orderData) {
                  // Successful capture! For demo purposes:
                  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                  var transaction = orderData.purchase_units[0].payments.captures[0];
                  alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                alert('Thank you for donating 1000$ to our site!');
              
              });
          }


      }).render('#paypal-button-container');
  </script>
  </div>
  <div class="column is-one-third"></div>
  <div class="column is-one-third">
    <div class="block">
        <h2 class="is-size-5 has-text-weight-semibold">Motivational song :</h2><br>
        <iframe width="430" height="315" src="https://www.youtube.com/embed/O2MmqbAaoZA" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>
</div>

<!-- Links -->

<!-- Buttons and code -->
<!-- https://developer.paypal.com/demo/checkout/#/pattern/client -->


<!-- Paypall -->
<!-- Create business and buer account -->
<!-- Create app for business account -->
<!-- Add clinet-id in code -->
<!-- https://developer.paypal.com/developer/accounts/ -->

<!-- Sandbox accounts -->
<!-- https://www.sandbox.paypal.com/gr/home -->


<!-- Popups settings conf -->
<!-- SECURE_CROSS_ORIGIN_OPENER_POLICY = 'same-origin-allow-popups'  