{% extends 'base.html' %}

{% block content %}
<style>
  body{
      background: rgb(250, 250, 250);
background: radial-gradient(circle, rgb(236, 236, 238) 0%, rgb(243, 243, 246) 0%, rgba(0,212,255,1) 100%);

}
</style>

<div class="column">

{% for profile in profiles %}

    <div class="block">
      <div class="card">
        <a href="{% url 'main_app:profile' profile.id %}">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-50x50">
                  <img class="is-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGcSil9PRUDFEvzIbrZvp2HjABYYrmwrdaRA&usqp=CAU"
                       alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{ profile.user.username }}
                </p>
                <p class="subtitle is-6">
                  @{{ profile.user.username|lower }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}

</div>

<div class="column is-one-third">

  <div class="block">
  <a href="{% url 'main_app:dashboard' %} ">
      <button class="button is-dark is-outlined is-fullwidth">
          Dashboard
      </button>
  </a>
</div>

  <div class="block">
    <a href="{% url 'main_app:donate' %} ">
      <button class="button is-info is-outlined is-fullwidth">
          Donate Us
      </button>
    </a>
  </div>
  
</div>
{% endblock content %}